body {
    padding: 10px;
    margin: 0;
}
button{
	padding:2px;
	background-color: blue;
	color:white;
	margin:1 px;
	border: 2px solid red;
}
#ibox{
	border: 2px solid white;
	border-style:ridge;
	outline: none;
	width:95%;
	height:650px;
}